html, body{
	font-size: 12px;
	background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

@media (max-width: 1400px) {
  html, body{
	font-size: 10px;
  }
}

.panel-info{
	border-color: #FFFFFF;
}

.panel-info>.panel-heading{
	border-color: #19191B !important;
	color: #FFFFFF !important;
	background-color: #4D3F58 !important;
	
}

.btn-warning{
	background-color: #4D3F58 !important;
	border-color: #4D3F58 !important;
}

.nav-tabs.nav-justified>li>a{
	background-color: #4D3F58 !important;
}

.nav-tabs.nav-justified>li>a:hover{
	background-color: #4C3A5B !important;
	border-color: black !important;
}

a{
	color: white;
}

a:hover{
	color: #FFD9D9;
	cursor: pointer;
	cursor: hand;
}

.tema1{
	background: url(".././imagenes/fondos/admin.jpg");
	background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.tema2{
	background: url(".././imagenes/fondos/fondo1.jpg");
	background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.tema3{
	background: url(".././imagenes/fondos/fondo2.jpg");
	background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.tema4{
	background: url(".././imagenes/fondos/fondo3.jpg");
	background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.tema5{
	background: url(".././imagenes/fondos/fondo4.jpg");
	background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.tema6{
	background: url(".././imagenes/fondos/fondo5.jpg");
	background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

//                                                            TEMAS CAJAS

 .box-inverse{
  background:#ccc;
  transition:all 0.2s ease;
  border:2px dashed #dadada;
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  background-clip: padding-box;
  padding:0 20px 20px 20px;
  min-height:340px;
 }
 //
